<div class="center hero-unit">
  <h1>Welcome to the Bookmarks App</h1>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    bookmarks application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
       <% if signed_in? %>
           <!--  do nothing -->
       <% else %>
            <h1>Sign in</h1>
            
            <div class="row">
              <div class="span6 offset3">
                <%= form_for(:session, url: sessions_path) do |f| %>
            
                  <%= f.label :name %>
                  <%= f.text_field :name %>
            
                  <%= f.label :password %>
                  <%= f.password_field :password %>
            
                  <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
                <% end %>
            
                <p>New user? <%= link_to "Sign up now!", signup_path %></p>
              </div>
            </div>
            
       <% end %>



<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
