<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @link.URL %>
</p>

<p>
  <b>Name:</b>
  <%= @link.name %>
</p>

<p>
  <b>DateSaved:</b>
  <%= @link.dateSaved %>
</p>


<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
